<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>LoginUserServlet</servlet-name>
		<servlet-class>servlet.LoginUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUserServlet</servlet-name>
		<url-pattern>/Public/jsp/LoginUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoSelfAssessmentServlet</servlet-name>
		<servlet-class>servlet.GoSelfAssessmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoSelfAssessmentServlet</servlet-name>
		<url-pattern>/Public/jsp/GoSelfAssessmentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SelectLessonServlet</servlet-name>
		<servlet-class>servlet.SelectLessonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectLessonServlet</servlet-name>
		<url-pattern>/Public/jsp/SelectLessonServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReceiveSelfAssessmentServlet</servlet-name>
		<servlet-class>servlet.ReceiveSelfAssessmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiveSelfAssessmentServlet</servlet-name>
		<url-pattern>/Public/jsp/ReceiveSelfAssessmentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateSelfAssessmentServlet</servlet-name>
		<servlet-class>servlet.UpdateSelfAssessmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSelfAssessmentServlet</servlet-name>
		<url-pattern>/Public/jsp/UpdateSelfAssessmentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutUserServlet</servlet-name>
		<servlet-class>servlet.LogoutUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutUserServlet</servlet-name>
		<url-pattern>/Public/jsp/LogoutUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoHomeServlet</servlet-name>
		<servlet-class>servlet.GoHomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoHomeServlet</servlet-name>
		<url-pattern>/Public/jsp/GoHomeServlet</url-pattern>
	</servlet-mapping>

</web-app>